<app-header></app-header>
<div class="container">
    <h5>Usuarios</h5>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <label for="">Lista de usuarios</label>
        <hr>
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <th>{{usuario.id}}</th>
                <td>{{usuario.email}}</td>
                <td><button class="btn btn-sm btn-dark" (click)="DetalleUsuario(usuario.id,usuario.email,usuario.first_name,usuario.last_name,usuario.avatar)"><img src="../../../assets/iconos/person-lines-fill.svg" alt=""> Ver mas detalles</button></td>
              </tr>
             
            </tbody>
        </table>
    </div>   
</div>
